zend_extension=/usr/lib/php/20170718/xdebug.so
xdebug.remote_enable=1

xdebug.remote_host=#<%SET_YOUR_LOCAL_IP_HERE%>
xdebug.remote_port=#<%SET_YOUR_LOCAL_XDEBUG_LISTEN_PORT_HERE%>

xdebug.profiler_enable=0
xdebug.profiler_output_dir=/home/tmp
xdebug.remote_connect_back=0
xdebug.idekey = "PHPSTORM"